<div class="recipesContainer">
	<% @recipes.each do |recipe| %>
		<%= link_to recipe_path(recipe), class: "recipe" do %>
			<div class="imageContainer">
				<% if recipe.image.attached? %>
					<%= image_tag(recipe.image) %>
				<% else %>
					<%= image_tag(recipe.image_url) %>
				<% end %>
			</div>
			<%= recipe.name %>
		<% end %>
	<% end %>
</div>