<div class="formContainer">
	<%= form_for @food do |form| %>
		<div>
			<%= form.label :name %>
	    	<%= form.text_field :name, required: true %>
	    </div>
	    <div>
	    	<%= form.submit "Save Food" %>
	    </div>
	<% end %>
</div>