// Place all the styles related to the FoodItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./mixins";
@import "./colours";
@import "./fonts";

.currentInventory {
	padding: 20px;
	.foodItem {
		background-color: $primary-grey;
		padding: 10px;
		display: inline-block;
		&:hover {
			background-color: $secondary-grey;
		}
	}
}