// Place all the styles related to the FoodItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./mixins";
@import "./colours";
@import "./fonts";

.currentContainer {
	.currentInventory, .currentMeals {
		padding: 20px;
		width: 45%;
		display: inline-block;
		vertical-align: top;
		background-color: $primary-grey;
		.foodItem, .recipeItem {
			@include grey-box;
		}
	}
	.currentInventory {
		margin-right: 10px;
	}
	.currentMeals {
		height: 100%;
	}
}

.topContainer {
	@include flex-box;
	.daysRemainingContainer {
		padding: 20px;
		margin-top: -20px;
		margin-left: 20px;
		h2 {
			font-size: 30px;
		}
		.time {
			font-size: 30px;
		}
	}
}