// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./mixins";
@import "./colours";

.recipesContainer {
	padding: 20px;
	.recipe {
		padding: 20px;
		background-color: $primary-grey;
		display: inline-block;
		&:hover {
			background-color: $secondary-grey;
		}
	}
}