// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./mixins";
@import "./colours";

.recipesContainer {
	padding: 20px;
	.recipe {
		@include grey-box;
	}
}

.recipeContainer {
	padding: 20px;
	width: 45%;
	display: inline-block;
	vertical-align: top;
	img {
		width: 400px;
	}
	.ingredient {
		@include grey-box-large-no-hover;
		a {
			text-decoration: underline;
		}
	}
}